<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
	<!-- <add key="dbconnectionstring" value="Server=LAXMI\SQLEXPRESS;database=pempmeddb;UID=sa;Pwd=test" />  -->
	  <!--<add key="dbconnectionstring" value="Server=DESKTOP-AOROS55\SQLEXPRESS;database=pempmeddb;UID=sa;Pwd=test" />-->
 <!-- <add key="dbconnectionstring" value="Server=DESKTOP-6IKJDL4\SQLEXPRESS;database=pempmeddb;UID=sa;Pwd=test" />-->
   <add key="dbconnectionstring" value="Server=192.168.31.44\SQLEXPRESS;database=pempmeddb;UID=sa;Pwd=test" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="from" value="ashirwadclinic401501@gmail.com" />
    <add key="host" value="smtp.gmail.com" /> 
     <add key="port" value="587" /> 
     <add key="userName" value="ashirwadclinic401501@gmail.com" /> 
     <add key="password" value="cmaqdrrpqvgaaqnn" /> 
        </appSettings>
  <connectionStrings>
    
  </connectionStrings>
  <system.net>
    
    <!--<mailSettings>
     <smtp from="ashirwadclinic401501@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587"  defaultCredentials="false" userName="ashirwadclinic401501@gmail.com" password="cmaq drrp qvga aqnn" enableSsl="true"/>
      </smtp>
    </mailSettings>-->
  </system.net>
  <system.web>
    
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.1462.39.0" newVersion="26.1462.39.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>